ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav {
    position: absolute;
    width: 100%;
    padding: 20px;
    box-shadow: -5px 10px 12px -10px rgba(201, 201, 201, 0.67);
}

.log {
    float: left;
}

.nav-bar {
    width: 35px;
    height: 21px;
    background-color: violet;
    float: right;
    display: none;
}

.nav-menu {
    float: right;
    line-height: 32px;
}

.nav-menu>.nav-home {
    float: left;
    margin-right: 15px;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        display: block;
    }
    .nav-menu {
        position: absolute;
        left: 0;
        top: 100%;
        transform: rotateX(90deg);
        transition: all 0.5s;
        opacity: 0;
    }
}


/* 站点地图开始 */

.map {
    padding-top: 90px;
    padding-bottom: 90px
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container>.row {
    margin-right: -15px;
    margin-left: -15px;
}


/* 站点地图结束 */