body,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* banner图开始 */

.banner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 1200px;
    height: 460px;
}

.banner-ul {
    width: 100%;
    height: 100%;
}

.banner-li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    background-color: yellow;
}

.banner-li img {
    width: 100%;
    height: 100%;
}


/* banner图结束 */


/* banner箭头开始 */

.btn {
    position: absolute;
    top: 195.5px;
    width: 41px;
    height: 69px;
    background-color: white;
    z-index: 10;
}

.btn.btn-left {
    left: 0;
    background: url(../img/slides.png) no-repeat -84px, 0;
}

.btn.btn-right {
    right: 0;
    background: url(../img/slides.png) no-repeat -125px, 50%;
}

.btn.btn-left:hover {
    background: url(../img/slides.png) no-repeat 0, 0;
}

.btn.btn.btn-right:hover {
    background: url(../img/slides.png) no-repeat -41px, 0;
}


/* banner箭头结束 */


/* banner点开始 */

.banner-dot {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 10px;
    z-index: 8;
}

.banner-dot>.dot {
    float: left;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border: 2px solid hsla(0, 0%, 100%, .3);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .4);
}

.dot:hover {
    background-color: hsla(0, 0%, 100%, .3);
    border: 2px solid rgba(0, 0, 0, .4);
}

.banner-dot>.active {
    background-color: hsla(0, 0%, 100%, .3);
    border: 2px solid rgba(0, 0, 0, .4);
}